<div class="players">
  <div class="row">
    <div *ngFor="let player of players | async" class="col s12 m4">
      <div class="col s12 m7">
        <div class="card">
          <div class="card-image">
            <img src="favicon.png">
          </div>
          <div class="card-content">
            <p>{{player.name}}</p>
            <p>{{player.position}}</p>
            <p>{{player.jerseynumber}}</p>
          </div>
          <div class="card-action">
            <a href="#">This is a link</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
