<div class="container">
  <h3>Edit A Player</h3>
  <select #chosenPlayer (change)="selectPlayer(chosenPlayer.value)" (change)=showForm() class="edit-select">
    <option selected>Choose Player to Edit</option>
    <option *ngFor="let player of playerList | async" value={{player.$key}}>{{player.name}}</option>
  </select>
  <form *ngIf="formShowing">
    <label for="name">Player Name:</label>
    <input required type="text" name="name"  value={{playerToDisplay.name}} #playerName>
    <label for="position">Player Position:</label>
    <select #playerPosition required class="edit-select">
      <option value="Defender">Defender</option>
      <option value="Midfielder">Midfielder</option>
      <option value="Striker">Striker</option>
      <option value="Goalkeeper">GoalKeeper</option>
    </select>
    <label for="jerseynumber">Jersey Number:</label>
    <input required type="number" name="jerseynumber" value={{playerToDisplay.jerseynumber}} #playerNumber>
    <label for="dob">Player DOB:</label>
    <input required type="text" name="dob" value={{playerToDisplay.dateofbirth}} #playerDOB>
    <label for="name">Player Height:</label>
    <input required type="text" name="name" value={{playerToDisplay.hieght}} #playerHeight>
    <label for="name">Player Weight:</label>
    <input required type="text" name="name" value={{playerToDisplay.weight}} #playerWeight>
    <label for="name">Player Image:</label>
    <input required type="text" name="name" value={{playerToDisplay.image}} #playerImage>
    <button type="button" name="button" (click)="hideForm(); editPlayer(playerName.value, playerPosition.value, playerNumber.value, playerDOB.value, playerHeight.value, playerWeight.value, playerImage.value)">Edit Player</button>
  </form>
</div>
