/* You can add global styles to this file, and also import other style files */
.jerseynumber {
  float: right;
}
.card-action a{
  cursor: pointer;
}
.select {
  display: block;
  width: 15%;
  margin: 5px;
}
.edit-select {
  display: block;
  width: 50%;
}
.slipsum {
  margin: 10%;
  margin-top: 5%;
  background-color: lightgrey;
  padding: 15px;
  border-radius: 5px;
}
.home-picture {
  margin: 5%;

}
